@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&family=Ubuntu:wght@400;500;700&display=swap');

*/
*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  box-sizing: border-box;
}

body {
    font-family: "Ubuntu", 'sans';
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  /* max-width: 100%; */
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

li {
  list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    border: none;
    color: inherit;
    background: none;
}

*:root {
    --mobile: 375px;
    --desktop: 1440px;
    /* colors */
    --red-200: hsl(355, 100%, 74%);
    --red-400: hsl(356, 100%, 66%);
    --blue-200: hsl(240, 2%, 79%);
    --blue-600: hsl(208, 49%, 24%);
    --blue-900: hsl(240, 10%, 16%);
    /* gradients */
    --lighter-red:  hsl(13, 100%, 72%);
    --light-red: hsl(353, 100%, 62%);
    --dark-blue: hsl(237, 17%, 21%);
    --darker-blue: hsl(237, 23%, 32%);
}

.header-wrapper {
    position: relative;
    background: linear-gradient(to right, var(--lighter-red), var(--light-red));
    padding: 2rem 1.875rem;
    border-bottom-left-radius: 5.5rem;
    overflow: hidden;
}
.header-wrapper .header-background-image {
    position: absolute;
    z-index: 1;
}

@media screen and (min-width: 300px) {
    .header-wrapper {
        /* height: 37.5rem; */
        /* padding: 3rem; */
    }
    .header-wrapper .header-background-image {
        left: -24rem;
        top: -63rem;
        width: 160rem;
    }
}


.flex {
    display: flex;
}

nav {
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    gap: 2rem;
}

.menu-wrapper {
  display: flex;
  width: 100%;
  align-items: center;
  /* outline: 2px solid green; */
}
.menu-wrapper .hamburger-container {
    cursor: pointer;
    width: 32px;
    height: 32px;
    order: 1;
    display: block;
    margin-left: auto;
    background-image: url('./assets/icon-hamburger.svg');
    background-position: center;
    background-size: cover;
}
.menu-wrapper .hamburger-container.close {
    background-image: url('./assets/icon-close.svg');
}

.menu-wrapper .menu-links, .cta-btn-group.menu-btn {
    display: flex;
    flex-direction: column;
    /* gap: 2rem; */
}
.menu-wrapper .menu-links {
    display: none;
    padding: 1rem;
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translate(-50%);
    background-color: white;
    border-radius: 4px;
    color: black;
    margin: 0 auto;
    gap: 12px;
    box-shadow: 0px 5px 10px 4px rgba(0,0,0,0.2);
    /* outline: 2px solid green; */
}
.menu-links.show-menu {
    display: flex;
}
.menu-links .divider {
    width: 100%;
    height: 2px;
    background-color: var(--blue-200);
}
.menu-wrapper .menu-links li {
    position: relative;
    height: auto;
    
}
.menu-wrapper .menu-links li .dropdown-arrow {
    width: 12px;
}
.menu-wrapper .menu-links li:hover .dropdown-arrow, .menu-wrapper .menu-links li:active .dropdown-arrow {
    transform: rotate(180deg);
    transition: transform 200ms ease-in;
}
.menu-wrapper .menu-links li .dropdown-link {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    font-weight: 600;
    color: black;
    min-width: 200px;
}

.dropdown-menu {
    position: relative;
    min-width: 100px;
    /* left: -25%; */
    border-radius: 8px;
    padding: 1rem 1.5rem;
    background-color: rgba(225, 225, 225);
    color: var(--blue-600);
    margin-top: 12px;
    /* height: 0; */
    display: none;
    text-align: center;
}
.dropdown-menu li:hover {
    font-weight: 600;
}
.menu-wrapper .menu-links li:active .menu-btn .btn-nofill, .menu-wrapper .menu-links li:hover .menu-btn .btn-nofill {
    color: var(--darker-blue) !important;
}
.menu-wrapper .menu-links li:active .dropdown-menu, .menu-wrapper .menu-links li:hover .dropdown-menu {
    transform: scale(1);
    display: block;
    visibility: visible;
    height: auto;
}
.menu-btn .btn-nofill {
    padding: 0;
    color: var(--dark-blue);
}
.menu-btn.cta-btn-group .cta-btn.btn-filled {
    color: white;
    background: linear-gradient(to right, var(--lighter-red), var(--light-red));
}
@media screen and (min-width: 786px) {
    .menu-wrapper .hamburger-container {
        display: none;
    }
    .menu-wrapper .menu-links, .cta-btn-group.menu-btn {
        flex-direction: row;
        gap: 2rem;
        align-items: center;
    }
    .menu-wrapper .menu-links {
        display: flex;
        position: relative;
        width: 100%;
        top: 0;
        left: 0;
        transform: translate(0);
        margin: 0;
        padding: 0;
        background-color: transparent;
        /* gap: 0; */
        box-shadow: none;
        /* align-items: stretch; */
    }
    .menu-wrapper .menu-links li {
        position: relative;
        height: 100%;
    }
    .menu-wrapper .menu-links li .dropdown-link {
        min-width: unset;
        color: white;
        height: 50px;
    }
    .dropdown-menu {
        position: absolute;
        min-width: 100px;
        left: -25%;
        border-radius: 8px;
        padding: 1rem 1.5rem;
        background-color: white;
        margin: 0;
        transform: scaleY(0);
        text-align: left;
        color: black;
    }
    .menu-links li:nth-child(5) {
        margin-left: auto;
    }
    .menu-btn .btn-nofill {
        color: white;
    }
    .menu-btn.cta-btn-group .cta-btn.btn-filled {
        background: white;
        color: var(--light-red);
    }
}

.heading-text {
    position: relative;
    z-index: 1;
    text-align: center;
    margin: 6rem auto;
    color: white;
}
.heading-text .hero-text {
    font-family: "OverPass", sans;
    font-size: 3.2rem;
    font-weight: 800;
}
.heading-text .hero-sub-text {
    font-family: "OverPass", sans;
    font-size: 1.1rem;
    margin-top: 10px;
}
.heading-text .cta-btn-group {
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
}
.cta-btn-group {
    display: flex;
    gap: 1rem;
}
.cta-btn-group .cta-btn {
    border: 2px solid white;
    font-weight: 600;
    transition: all 200ms ease-in;
    transition-property: border, background-color, color;
    cursor: pointer;
}
.cta-btn-group .cta-btn:hover {
    background-color: white;
    color: var(--light-red);
}

.cta-btn-group .cta-btn.btn-filled{
    background-color: white;
    color: var(--light-red);
}
.cta-btn-group .cta-btn.btn-nofill{
    border: 2px solid transparent;
}
.cta-btn-group .cta-btn.btn-nofill:hover{
    border: 2px solid white;
    background-color: transparent;
    color: white;
}
.cta-btn-group .cta-btn.btn-filled:hover {
    border: 2px solid var(--red-200);
    background-color: var(--red-200);
    color: white;
}

.cta-btn {
    border-radius: 999px;
    padding: 0.65rem 1rem;
    color: white;
    white-space: nowrap;
}

.content-spacing {
    margin: 0 auto;
    max-width: 62.5rem;
}

.future {
    background-color: white;
    padding-top: 7.1375rem;
    padding-bottom: 15.75rem;
    padding-left: 1.875rem;
    padding-right: 1.875rem;
    text-align: center;
}

.future-wrapper {
    max-width: 62.5rem;
    position: relative;
    height: 100%;
    margin: auto;
}
.future-title {
    font-size: 1.8625rem;
    color: var(--darker-blue);
    font-family: "Overpass", sans-serif;  
}
.future-wrapper > .future-title {
    margin-bottom: 2.8125rem;
    position: relative;
    z-index: 2;
}
.future-img {
    width: 100%;
    height: 22.9375rem;
    margin-bottom: 2.8125rem;
    background-image: url("./assets/illustration-editor-mobile.svg");
    background-position: center center;
    background-repeat: no-repeat;
}
.future-info:not(:last-child) {
    margin-bottom: 3.375rem;
}
.future-info .future-title {
    margin-bottom: 1.9375rem;
}
.future-info .future-desc {
    font-family: "OverPass", serif;
    color: var(--darker-blue);
    font-weight: 300;
}

@media screen and (min-width: 768px) {

    .future {
        height: 850px;
        overflow: hidden;
        padding-bottom: 0;
    }
    .future-infos {
        width: 50%;
        position: absolute;
        text-align: left;
        top: 158px;
        left: 0;
    }

    .future-img {
        position: absolute;
        top: 0;
        /* width: 93%; */
        height: 100%;
        background-image: url("./assets/illustration-editor-desktop.svg");
        background-size: 80%;
        background-position-x: 0;
        bottom: 0;
        right: -58%;
        z-index: 1; 
    }


    .future-wrapper > .future-title {
        font-size: 2rem;
    }
    .future-info .future-title {
        font-size: 1.625rem;
    }
    .future-info .future-desc {
        width: 110%;
        margin: 0 auto;
        line-height: 1.5;
        font-size: 18px;
    }
}

.infrastructure {
    position: relative;
    background-image: url("./assets/bg-pattern-circles.svg");
    background-repeat: no-repeat;
    background-position: 40% -200px;
    background-size: 130%;
    /* background-blend-mode: lighten; */
    padding: 12rem 2rem 5rem;
    border-bottom-left-radius: 5.5rem;
    border-top-right-radius: 5.5rem;
    color: white;
}
.infrastructure::before {
    position: absolute;
    background: linear-gradient(to right, var(--dark-blue), var(--darker-blue));
    z-index: -1;
    top: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 100%;
    border-bottom-left-radius: 5.5rem;
    border-top-right-radius: 5.5rem;
}
.infrastructure-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 62.5rem;
    margin: 0 auto;
}
.infrastructure-wrapper .floating-img {
    position: relative;
    width: 100%;
    /* outline: 2px solid red; */
}
.infrastructure-wrapper .floating-img img {
    position: absolute;
    top: -300px;
    width: min(300px, 100%);
    max-width: 100%;
    left: 50%;
    transform: translateX(-50%);
}
.infrastructure-wrapper .text {
    width: 100%;
    text-align: center;
    font-family: "OverPass", sans-serif;
}

.infrastructure-title {
    font-size: 2.2rem;
    line-height: 1.3;
    font-weight: 500;
    margin-bottom: 1rem;
}

@media screen and (min-width: 768px) {
    .infrastructure {
        padding: 6rem 2rem 5rem;
        position: relative;
        background-image: url("./assets/bg-pattern-circles.svg");
        background-repeat: no-repeat;
        background-position: -80px 80%;
        background-size: 800px;
        color: white;
    }
    .infrastructure-wrapper .floating-img img {
        position: absolute;
        top: -160px;
        width: 100%;
        max-width: 100%;
        left: -10%;
        transform: translateX(0);
    }
    .infrastructure-wrapper {
        flex-direction: row;
    }
    .infrastructure-wrapper .text {
        text-align: left;
        padding-left: 2rem;
    }
    .infrastructure-title {
        font-size: 2.2rem;
        font-weight: 300;
        margin-bottom: 1rem;
    }
    .infrastructure-desc {
        font-size: 1.17rem;
    }
}

.benefits {
    position: relative;
    background-image: url("./assets/illustration-laptop-mobile.svg");
    background-repeat: no-repeat;
    background-position: 50% 10%;
    background-size: min(400px, 100%);
    /* background-blend-mode: lighten; */
    padding: 12rem 2rem 7rem;
    color: var(--blue-600);
}

.benefits-wrapper {
    display: flex;
    /* flex-direction: column; */
    max-width: 62.5rem;
    margin: 0 auto;
    padding-top: min(60%, 12rem);
}
.benefits-features {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-family: "OverPass", sans-serif;
}
.benefits-feature {
    text-align: center;
}
.benefits-title {
    margin-bottom: 1rem;
}

@media screen and (min-width: 768px) {
    .benefits {
        background-image: url("./assets/illustration-laptop-desktop.svg");
        background-position-x: max(-80px, -50%);
        background-position-y: center;
        background-size: min(800px, 60%);
        padding: 12rem 2rem;
    }
    .benefits-wrapper {
        padding: 2rem;
    }
    .benefits-features {
        width: 50%;
        margin-left: auto;
        gap: 2rem;
    }
    .benefits-feature {
        text-align: left;
    }
}

.footer {
    background-color: var(--blue-900);
    border-top-right-radius: 5.5rem;
    padding: 5.25rem 0 3rem 2rem;

}
.footer-wrapper {
    max-width: 1000px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
}
.footer-logo {
    display: flex;
    justify-content: center;
    margin-bottom: 5.25rem;
    height: 2.625rem;
}
.footer-logo img {
    height: 100%;
}
.footer-links--title {
    color: white;
    font-size: 1.2625rem;
    margin-bottom: 1rem;
    font-weight: 500;
}
.footer-link {
    color: var(--blue-200);
    transition: all 300ms ease-in-out;
    font-family: "Ubuntu", sans-serif;
    font-size: 1.1rem;
}
.footer-link:hover {
    text-decoration: underline;
    
}
.footer-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-bottom: 2rem;
}
@media screen and (min-width: 768px) {
    .footer-wrapper {
        grid-template-columns: repeat(4, 1fr);
    }
    .footer-logo {
        justify-content: flex-start;
        align-items: flex-start;
    }
    .footer-links {
        align-items: flex-start;
        justify-content: flex-start;
    }
}
